.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  /* border-bottom: 1px #fdf4f5 solid; */
  padding: 15px;
  z-index: 999;
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.burger-icon svg {
  color: #26252c;
  font-size: 30px;
}

.logo img {
  width: 55px;
}

.social-icons a svg {
  color: #26252c;
  font-size: 25px;
}

nav {
  position: fixed;
  top: 70px;
  left: -100%;
  background-color: #fdf3f3;
  width: 90%;
  height: calc(100% - 80px);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation-name: close;
  animation-duration: 0.6s;
  transition: left 0.6s ease-in-out;
}

.open {
  top: 70px !important;
  left: 0;
  animation-name: open;
  animation-duration: 0.7s;
  z-index: 999;
}

nav ul {
  width: 100%;
  margin-top: 50px;
}

nav ul li {
  width: 100%;
  padding: 20px 15px;
  border-bottom: 1px solid #c6c6c6;
}

nav ul li a {
  color: var(--text-color);
  font-size: var(--header-font-size);
  font-family: var(--georgian-font);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.active {
  color: #cd4448;
}

.bottom-info {
  font-family: var(--english-font);
  position: absolute;
  bottom: 0px;
  padding: 15px;
  background-color: #97bcc7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-info-container {
  display: flex;
  align-items: flex-end;
  color: var(--text-color);
}

.email-info-container svg {
  font-size: 13px;
  margin-right: 4px;
}

.insta-info-container a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: var(--text-color);
}

.insta-info-container svg {
  font-size: 12px;
  margin-right: 4px;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
