.filter-btns-container {
  position: fixed;
  top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #97bcc7;
  padding: 15px;
  overflow-y: scroll;
}

.filter-btns {
  font-family: var(--georgian-font);
  font-size: 13px;
  color: #352f44;
  background-color: #97bcc7;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.active-button {
  color: white;
  background-color: #26252c;
}

.product-page-wrapper img {
  width: 100%;
}

.product-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-gap: 50px;
  margin-top: 150px;
}
