.filter-btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
  padding: 15px;
  overflow-y: scroll;
}

.filter-btns {
  font-family: var(--georgian-font-header);
  font-size: 13px;
  color: #0c2a33;
  background-color: #ebebeb;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.active-button {
  color: white;
  background-color: #0c2a33;
}

.product-page-wrapper img {
  width: 100%;
}

.product-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-gap: 50px;
  margin-top: 20px;
}
