footer {
  width: 100%;
  background-color: #97bcc7;
  padding: 40px 15px;
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
}

.footer-nav h1 {
  color: var(--text-color);
  font-family: var(--georgian-font-header);
  font-size: 15px;
}

.footer-nav ul li {
  width: 100%;
  padding: 5px 0px;
  margin-top: 10px;
}

.footer-nav ul li a {
  color: var(--text-color);
  font-size: 12px;
  font-family: var(--georgian-font-paragraph1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-us {
  width: 120px;
}

.about-us h1 {
  color: var(--text-color);
  font-family: var(--georgian-font-header);
  font-size: 15px;
}

.about-us p {
  color: var(--text-color);
  font-family: var(--georgian-font-paragraph1);
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
}

.bottom-footer {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: #ebebeb;
}

.bottom-footer p {
  font-family: var(--english-main-font);
  font-size: 12px;
  display: flex;
  align-items: flex-start;
}

.bottom-footer span {
  margin-right: 2px;
}

.bottom-footer svg {
  color: var(--text-color);
  font-size: 12px;
}
