.about-padel-banner {
  width: 100%;
}

.about-padel-content {
  padding: 15px;
}

.about-padel-content h1 {
  color: var(--text-color);
  font-family: var(--georgian-font-header);
  font-size: var(--header-font-size);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph-container p {
  color: black;
  font-family: var(--georgian-font-paragraph2);
  font-size: var(--paragraph-font-size);
  line-height: 23px;
  letter-spacing: 0.7px;
  text-align: start;
  column-count: 2;
}

.margin-top {
  margin-top: 50px;
  padding: 0px 15px;
}
