:root {
  --georgian-font-header: "BPG ExtraSquare Mtavruli", sans-serif;
  --georgian-font-paragraph: "BPG Nino Medium", sans-serif;
  --georgian-font-paragraph2: "BPG Nateli", sans-serif;
  --english-font: "Pathway Gothic One", sans-serif;
  --header-font-size: 20px;
  --paragraph-font-size: 15px;
  --main-color: #97bcc7;
  --text-color: #023047;
}

body {
  background-color: #fdf3f3;
}

main {
  margin-top: 70px;
}
